body {
  background-image: url("../images/zigzag.jpg");
  font-family: "Courier New", Courier, monospace; 
}

.rounded {
  width: 300px;
  height: 300px;
  position: relative;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
img {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}