body {
  background-image: url("../images/zigzag.jpg");
  font-family: "Courier New", Courier, monospace; 
  margin-left: 100px;
}

.des {
  margin-left: 350px;
  margin-right: 250px;
  margin-top: 0px;
}

h3 {
  margin-left: 350px;
  margin-right: 250px;
  margin-top: -270px; 
}


.rounded-img {
  width: 300px;
  height: 300px;
  position: relative;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
img {
  margin: 100px 200px;
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

.round-button {
  width:10%;
  
}

.round-button-circle {
  margin-left: 350px;
  width: 100%;
  height:0;
  padding-bottom: 100%;
  border-radius: 50%;
  border:2px solid #cfdcec;
  overflow:hidden;  
  background: #4679BD; 
  box-shadow: 0 0 3px gray;
}

#linkedin {
  margin-left: 500px;
  margin-top: -110px;
}

#github {
  margin-left: 350px;
  margin-top: 0px;
}

#cv {
  margin-left: 650px;
  margin-top: -110px;
}

.round-button-circle:hover {
  background:#30588e;
}

.round-button a {
  display:block;
  float:left;
  width:100%;
  padding-top:50%;
  padding-bottom:50%;
  line-height:1em;
  margin-top:-0.5em;
    
  text-align:center;
  color:#e2eaf3;
    font-family:Verdana;
    font-size:1.2em;
    font-weight:bold;
    text-decoration:none;
}
